# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment variables
.env
.env.*
!.env.example
!.env.*.example

# Dependencies
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local
.DS_Store
*.local
