@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme {
  --color-poke-type-normal: oklch(0.71 0.0031 128.51);
  --color-poke-type-normal-bg: oklch(0.81 0.0031 128.51);
  --color-poke-type-normal-border: oklch(0.61 0.0031 128.51);
  --color-poke-type-fighting: oklch(0.73 0.1858 52.98);
  --color-poke-type-fighting-bg: oklch(0.83 0.1858 52.98);
  --color-poke-type-fighting-border: oklch(0.63 0.1858 52.98);
  --color-poke-type-flying: oklch(0.77 0.0969 248.74);
  --color-poke-type-flying-bg: oklch(0.87 0.0969 248.74);
  --color-poke-type-flying-border: oklch(0.67 0.0969 248.74);
  --color-poke-type-poison: oklch(0.54 0.2088 306.89);
  --color-poke-type-poison-bg: oklch(0.64 0.2088 306.89);
  --color-poke-type-poison-border: oklch(0.44 0.2088 306.89);
  --color-poke-type-ground: oklch(0.5 0.1055 54.44);
  --color-poke-type-ground-bg: oklch(0.6 0.1055 54.44);
  --color-poke-type-ground-border: oklch(0.4 0.1055 54.44);
  --color-poke-type-rock: oklch(0.73 0.0564 101.85);
  --color-poke-type-rock-bg: oklch(0.83 0.0564 101.85);
  --color-poke-type-rock-border: oklch(0.63 0.0564 101.85);
  --color-poke-type-bug: oklch(0.67 0.1483 117.23);
  --color-poke-type-bug-bg: oklch(0.77 0.1483 117.23);
  --color-poke-type-bug-border: oklch(0.57 0.1483 117.23);
  --color-poke-type-ghost: oklch(0.45 0.0934 328.48);
  --color-poke-type-ghost-bg: oklch(0.55 0.0934 328.48);
  --color-poke-type-ghost-border: oklch(0.35 0.0934 328.48);
  --color-poke-type-steel: oklch(0.67 0.0753 222.49);
  --color-poke-type-steel-bg: oklch(0.77 0.0753 222.49);
  --color-poke-type-steel-border: oklch(0.57 0.0753 222.49);
  --color-poke-type-fire: oklch(0.6 0.2231 27.02);
  --color-poke-type-fire-bg: oklch(0.7 0.2231 27.02);
  --color-poke-type-fire-border: oklch(0.5 0.2231 27.02);
  --color-poke-type-water: oklch(0.61 0.186 256.63);
  --color-poke-type-water-bg: oklch(0.71 0.186 256.63);
  --color-poke-type-water-border: oklch(0.51 0.186 256.63);
  --color-poke-type-grass: oklch(0.63 0.1797 140.04);
  --color-poke-type-grass-bg: oklch(0.73 0.1797 140.04);
  --color-poke-type-grass-border: oklch(0.53 0.1797 140.04);
  --color-poke-type-electric: oklch(0.84 0.1712 86.5);
  --color-poke-type-electric-bg: oklch(0.94 0.1712 86.5);
  --color-poke-type-electric-border: oklch(0.74 0.1712 86.5);
  --color-poke-type-psychic: oklch(0.64 0.2099 6.27);
  --color-poke-type-psychic-bg: oklch(0.74 0.2099 6.27);
  --color-poke-type-psychic-border: oklch(0.54 0.2099 6.27);
  --color-poke-type-ice: oklch(0.82 0.1337 219.33);
  --color-poke-type-ice-bg: oklch(0.92 0.1337 219.33);
  --color-poke-type-ice-border: oklch(0.72 0.1337 219.33);
  --color-poke-type-dragon: oklch(0.55 0.194 272.32);
  --color-poke-type-dragon-bg: oklch(0.65 0.194 272.32);
  --color-poke-type-dragon-border: oklch(0.45 0.194 272.32);
  --color-poke-type-dark: oklch(0.39 0.0215 31.25);
  --color-poke-type-dark-bg: oklch(0.49 0.0215 31.25);
  --color-poke-type-dark-border: oklch(0.29 0.0215 31.25);
  --color-poke-type-fairy: oklch(0.74 0.2168 327.48);
  --color-poke-type-fairy-bg: oklch(0.84 0.2168 327.48);
  --color-poke-type-fairy-border: oklch(0.64 0.2168 327.48);
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    print-color-adjust: exact;
  }

  .qrcode {
    @apply aspect-square;

  }

  .qrcode>svg {
    @apply w-full aspect-square h-auto;
  }

  ul.list-ring {
    @apply pl-6 list-outside;
  }

  ul.list-ring>li+li,
  li.list-ring+li.list-ring {
    @apply mt-1;
  }

  ul.list-ring>li::marker,
  li.list-ring::marker {
    @apply text-[#777] font-bold;
  }
}